NET CLK_N LOC = "H9" | DIFF_TERM = "TRUE" | IOSTANDARD = "LVDS_25";
NET CLK_P LOC = "J9" | DIFF_TERM = "TRUE" | IOSTANDARD = "LVDS_25";

NET "CLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 200000 kHz;

NET RESET LOC = "H10" | IOSTANDARD = "SSTL15" | TIG;

NET RS232_RX LOC = "J24" | IOSTANDARD = "LVCMOS25";
NET RS232_TX LOC = "J25" | IOSTANDARD = "LVCMOS25";

NET LED[0] LOC = "AC22"  |  IOSTANDARD = "LVCMOS25";
NET LED[1] LOC = "AC24"  |  IOSTANDARD = "LVCMOS25";
NET LED[2] LOC = "AE22"  |  IOSTANDARD = "LVCMOS25";
NET LED[3] LOC = "AE23"  |  IOSTANDARD = "LVCMOS25";
NET LED[4] LOC = "AB23"  |  IOSTANDARD = "LVCMOS25";
NET LED[5] LOC = "AG23"  |  IOSTANDARD = "LVCMOS25";
NET LED[6] LOC = "AE24"  |  IOSTANDARD = "LVCMOS25";
NET LED[7] LOC = "AD24"  |  IOSTANDARD = "LVCMOS25";

# Flash
NET FLASH_A[*]  IOSTANDARD = "LVCMOS25";
NET FLASH_DQ[*]  IOSTANDARD = "LVCMOS25";

NET FLASH_A[0]  LOC = "AA23";
NET FLASH_A[1]  LOC = "AL9";
NET FLASH_A[2]  LOC = "AF9";
NET FLASH_A[3]  LOC = "AF10";
NET FLASH_A[4]  LOC = "AN9";
NET FLASH_A[5]  LOC = "AP9";
NET FLASH_A[6]  LOC = "AG8";
NET FLASH_A[7]  LOC = "AH8";
NET FLASH_A[8]  LOC = "F9";
NET FLASH_A[9]  LOC = "F10";
NET FLASH_A[10] LOC = "C10";
NET FLASH_A[11] LOC = "D10";
NET FLASH_A[12] LOC = "C9";
NET FLASH_A[13] LOC = "D9";
NET FLASH_A[14] LOC = "A9";
NET FLASH_A[15] LOC = "A8";
NET FLASH_A[16] LOC = "E8";
NET FLASH_A[17] LOC = "E9";
NET FLASH_A[18] LOC = "B8";
NET FLASH_A[19] LOC = "C8";
NET FLASH_A[20] LOC = "AD10";
NET FLASH_A[21] LOC = "AC9";
NET FLASH_A[22] LOC = "AK8";
NET FLASH_A[23] LOC = "AL8";

NET FLASH_DQ[0]  LOC = "M23";
NET FLASH_DQ[1]  LOC = "L24";
NET FLASH_DQ[2]  LOC = "F24";
NET FLASH_DQ[3]  LOC = "F23";
NET FLASH_DQ[4]  LOC = "N23";
NET FLASH_DQ[5]  LOC = "N24";
NET FLASH_DQ[6]  LOC = "H23";
NET FLASH_DQ[7]  LOC = "G23";
NET FLASH_DQ[8]  LOC = "R24";
NET FLASH_DQ[9]  LOC = "P24";
NET FLASH_DQ[10] LOC = "H25";
NET FLASH_DQ[11] LOC = "H24";
NET FLASH_DQ[12] LOC = "V24";
NET FLASH_DQ[13] LOC = "W24";
NET FLASH_DQ[14] LOC = "AF25";
NET FLASH_DQ[15] LOC = "AF24";

NET FLASH_OEN LOC = "AA24" | IOSTANDARD = "LVCMOS25";
NET FLASH_WEN LOC = "AF23" | IOSTANDARD = "LVCMOS25";

# P30
# NET FLASH_CEN LOC = "AJ12" | IOSTANDARD = "LVCMOS25";

# XCF
NET P30_CS_SEL LOC = "AJ12" | IOSTANDARD = "LVCMOS25";
NET FLASH_ADV_LDN LOC = "AC23" | IOSTANDARD = "LVCMOS25";
NET FLASH_FCS_B LOC = "Y24" | IOSTANDARD = "LVCMOS25";

# PCIe
NET "PCIe_PERSTN" TIG;
NET "PCIe_PERSTN" LOC = AE13 | IOSTANDARD = LVCMOS25 | PULLUP | NODELAY;

INST "*/PCIe_Diff_Clk_I/USE_IBUFDS_GTXE1.GEN_IBUFDS_GTXE1[0].IBUFDS_GTXE1_I" LOC = IBUFDS_GTXE1_X0Y6;

INST "*/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[0].GTX" LOC = GTXE1_X0Y15;
INST "*/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[1].GTX" LOC = GTXE1_X0Y14;
INST "*/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[2].GTX" LOC = GTXE1_X0Y13;
INST "*/pcie_2_0_i/pcie_gt_i/gtx_v6_i/GTXD[3].GTX" LOC = GTXE1_X0Y12;

INST "*/pcie_2_0_i/pcie_block_i" LOC = PCIE_X0Y1;
INST "*/pcie_clocking_i/mmcm_adv_i" LOC = MMCM_ADV_X0Y7;

NET "PCIe_Diff_Clk" TNM_NET = "SYSCLK";
TIMESPEC "TS_SYSCLK"  = PERIOD "SYSCLK" 100.00 MHz HIGH 50 % ;
NET "*/pcie_clocking_i/clk_125" TNM_NET = "CLK_125" ;

TIMESPEC "TS_CLK_125" = PERIOD "CLK_125" TS_SYSCLK/0.8 HIGH 50 % PRIORITY 1;

PIN "*/trn_reset_n_int_i.CLR" TIG;
PIN "*/trn_reset_n_i.CLR" TIG;
PIN "*/pcie_clocking_i/mmcm_adv_i.RST" TIG;

NET "*/sig_blk_command<2>"   TPTHRU = "TP_SIG_BLK_COMMAND";
NET "*/sig_blk_dcontrol<5>"  TPTHRU = "TP_SIG_BLK_DCONTROL";
NET "*/sig_blk_dcontrol<6>"  TPTHRU = "TP_SIG_BLK_DCONTROL";
NET "*/sig_blk_dcontrol<7>"  TPTHRU = "TP_SIG_BLK_DCONTROL";
NET "*/sig_blk_dcontrol<12>" TPTHRU = "TP_SIG_BLK_DCONTROL";
NET "*/sig_blk_dcontrol<13>" TPTHRU = "TP_SIG_BLK_DCONTROL";
NET "*/sig_blk_dcontrol<14>" TPTHRU = "TP_SIG_BLK_DCONTROL";

INST "*/comp_enhanced_core_top_wrap/*/pcie_block_i" TNM_NET = "TNM_PCIE_HARD_BLOCK";

TIMESPEC TS_SIG_BLK_COMMAND = FROM "TNM_PCIE_HARD_BLOCK" THRU "TP_SIG_BLK_COMMAND" TO FFS TIG;
TIMESPEC TS_SIG_BLK_DCONTROL = FROM "TNM_PCIE_HARD_BLOCK" THRU "TP_SIG_BLK_DCONTROL" TO FFS TIG;
